@size: 30px;


.nattreid-calendar {
  .cell {
    vertical-align: middle;
    display: inline-block;
    width: @size;
    height: @size;
    text-align: center;
  }

  .month {
    display: inline-block;

    .nameOfDays {
      .nameOfDay {
        font-weight: bold;
      }
    }

    .days {
      .week {
        .day {

          &.prevMonth, &.prevMonth {

          }
        }
      }
    }
  }
}