.nattreid-calendar .cell {
  vertical-align: middle;
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
}
.nattreid-calendar .month {
  display: inline-block;
}
.nattreid-calendar .month .nameOfDays .nameOfDay {
  font-weight: bold;
}
